.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
  justify-content: center;
}
.forms{
  width: 500px;
  height: 200px;
  margin: 30px;
  padding: 0%;
}
.background{
  background-color: #e3f2fd;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}
.alertas{
  width:auto ; 
  height: auto;
  margin: 0;
  font-style: italic;
  color: rgb(0, 26, 255);
  justify-content: right;
}


