.loginU {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn{
    justify-content: center;
    margin: 5px;
  }
  .forms{
    width: 500px;
    height: 200px;
    margin: 30px;
    padding: 0%;
  }
  .background{
    background-color: #e3f2fd;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
  }
  
  
  